//registry.npmjs.org/:_authToken=${NPM_TOKEN}
always-auth=true
no-optional=true
auto-install-peers=true
dedupe-peer-dependents=true
strict-peer-dependencies=true
resolve-peers-from-workspace-root=true
audit=false
fund=false
